@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

*
{
	font-family: 'Nunito', sans-serif;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

#ScreenItems
{
	text-align: center;
	justify-content: center;
	display: flex;
	padding-top: 20px;
	padding-bottom: 40px;
}

#aboutDiv
{
	display: none;
}

#GameDiv
{
	display: none;
}

#registerDiv
{
	display: none;
}

#loginDiv
{
	display: none;
}

#settingsDiv
{
	display: none;
}

body {
	background: url("https://c4.wallpaperflare.com/wallpaper/286/114/401/light-background-wallpaper-preview.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	align-items: center;
	justify-content: center;
}

h1
{
	color: white;
	font-size: 40px;
}

h2
{
	color: white;
	font-size: 20px;
}

#gameHeader
{
	text-align: center;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

#score, #time
{
    text-align: center;
}

#menuDiv
{
	top: 0%;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 35px;
	text-align: center;
	align-self: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.buttons
{
	padding: 0.7em 5em;
	color: black;
	background: orchid;
}

.WelcomeButtons
{
	padding: 1.2em 8em;
	color: black;
	background: orchid;
}

.buttons:hover, .WelcomeButtons:hover
{
	background-color: white;
}

li
{
	display:inline;
	text-align: center;
	align-self: center;
	font-size: 25px;
	font-weight: bold;
	width: 14%;
	font-style: italic;
	margin-left: 50px;
    color: white;
	text-decoration: none;
}

#canvas
{
    border: 5px solid pink;
}

#Footer
{
	background-color: rgb(255, 215, 146);
	text-align: center;
}

#Names
{
	font-size: 20px;
}

.closeButton {
	font-size: 45px;
	font-weight: 600;
}

form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}

form input {
	height: 25px;
	line-height: 25px;
	background: #fff;
	color: #000;
	padding: 0 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }

  form button {
	height: 30px;
	line-height: 30px;
	background: #e67e22;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
  }

  form {
	padding: 20px;
	background: #2c3e50;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  }

  form .error {
	color: #ff0000;
  }