body {
	background: url("https://c4.wallpaperflare.com/wallpaper/286/114/401/light-background-wallpaper-preview.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

h1
{
	color: white;
	font-size: 40px;
}

h2
{
	color: white;
	font-size: 20px;
}

#gameHeader
{
	text-align: center;
    font-family: Calibri;
	background-color: black;
}

#score, #time
{
    text-align: center;
    font-family: Calibri;
}

#menu
{
	top: 0%;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 35px;
	text-align: center;
	align-self: center;
	z-index: 100;
}

li
{
	display:inline;
	font-family: Calibri;
	text-align: center;
	align-self: center;
	font-size: 25px;
	font-weight: bold;
	width: 14%;
	font-style: italic;
	margin-left: 50px;
    color: white;
	text-decoration: none;
}

#canvas
{
    border: 5px solid pink;
}

#Footer
{
	background-color: rgb(255, 215, 146);
	text-align: center;
	font-family: Calibri;
}

#Names
{
	font-size: 20px;
}